.partners-list{
    display: grid;
    padding: $marge-d-y $marge-m;
    grid-template-columns: repeat(4, 1fr); // 4 colonnes en desktop
    gap: $marge-m; // Espace entre les éléments de la grille

    @media (max-width: $sm) {
        padding: $marge-m;
        grid-template-columns: repeat(2, 1fr); // 2 colonnes en tablette
    }

    @media (max-width: $xs) {
        grid-template-columns: 1fr; // 1 colonne en mobile
    }
    img{
        max-width: 100%;
        height: auto;
        border: 1px solid gray;
    }
}