<footer class="text-center bg-primary">
	<p>Conception et développement : <a href="https://www.linkedin.com/in/kevrifa/" target="_blank" rel="noopener">Kévin Rifa</a></p>
	<ul id="nav" class="margin-none padding-none">
		{{ include('webpages/blocks/_navigation.html.twig', { pos: 1 }) }}
		<li><span onclick="tarteaucitron.userInterface.openPanel();">Cookies</span></li>
	</ul>
</footer>