<header class="bg-primary wd-100 position-fixed-no-sm position-sticky-on-sm">
	<button class="btn-nav-desktop toggle-nav">Menu</button>
	<span class="main-title text-center">Startup Weekend Impact</span>
</header>

<nav class="bg-primary main-nav position-fixed wd-100">
	<div class="nav-content padding-all-on-md">
		<ul class="margin-none padding-none">
			{{ include('webpages/blocks/_navigation.html.twig', { pos: 0 }) }}
		</ul>
	</div>
	<div class="image">
		<img src="../uploads/images/img-nav.jpg" alt="">
	</div>
</nav>

<button class="btn-nav toggle-nav position-fixed"></button>